.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-first {
    display: flex;
    margin-top: 80px;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.profile-pic {
    width: 250px;
    border-radius: 50%;
    transition: 500ms;
}

.profile-pic:hover {
    scale: 105%;
    transition: 500ms;
}

.hero h1 {
    text-align: left;
    font-size: 57px;
    font-weight: 600;
    max-width: 500px;
    line-height: 70px;
}

.hero-first h1 span {
    background: linear-gradient(270deg, #324099, #007EA7, #324099, #007EA7);
    background-clip: text;
    background-size: 300%;
    background-position: left;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient-animation 30000ms infinite;
}

@keyframes gradient-animation {
    0%{background-position: left;}
    50%{background-position: right;}
    100%{background-position: left;}
}

.hero-second {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.hero-second p {
    max-width: 730px;
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}

.linked-in-btn {
    fill: #324099;
}

.hero-buttons {
    display: flex;
    gap: 15px;
    align-items: center;
    
}

.my-resume {
    border: 1px solid white;
    padding: 7px 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: 200ms;
    text-decoration: none;
    color: white;
}

.my-resume a {
    text-decoration: none;
}

.my-resume:hover {
    border: 1px solid #324099;
    color: #324099;
    scale: 105%;
}

.socialmedia-btn:hover {
    scale: 105%;
}