.about {
    background-image: url(../../assets/bg-white.jpg);
    margin-top: 50px;
    background-attachment: fixed;
    background-size: 115%;
    padding-top: 30px;
    color: #1f2023;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.para-about {
    max-width: 70%;
}

.para-about1 {
    margin-top: 15px;
}

.para-about2 {
    margin-top: 10px;
}

.about-bottom {
    display: flex;
    margin-top: 35px;
    justify-content: center;
    max-width: 80%;
}

/* .bottom-left {
    max-width: 35%;
} */

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.skills-lines {
    display: flex;
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.stack-l1 {
    display: flex;
    gap: 20px;
}

.stack-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 200ms;
}

.stack-div:hover {
    scale: 105%;
}

.stack-l2 {
    display: flex;
    gap: 20px;
}

.adobe-studio {
    text-align: center;
}

.work-1 a {
    text-decoration: none;
    color: inherit;
}

.divisor-ver-line {
    height: 240px;
    width: 1px;
    background-color: #1f2023;
    margin: 0 20px; 
}

.bottom-left {
    max-width: 400px;
}

.bottom-center .education-1 {
    margin-top: 8px;
}

.bottom-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom-right ul {
    list-style: none;
    margin-top: 10px;
}

.bottom-right ul li {
    margin-top: 20px;
}

.bottom-right span {
    font-size: 10px;
}