.logo-afriano {
    width: 180px;
    transition: 200ms;
}

.logo-afriano:hover {
    scale: 105%;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 15%;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 16px;
    user-select: none;
}

.nav-menu li {
    cursor: pointer;
    transition: 200ms;
}

.nav-menu li:hover {
    scale: 105%;
    color: #324099;
}

.nav-menu a {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 768px) {
    .navbar{
        margin: 50px 50px;
    }
    .nav-mob-open {
        display: block;
        position: fixed;
        margin-left: 75%;
    }
    .nav-mob-close {
        display: block;
        position: relative;
    }
    .nav-menu {
        position: fixed;
        flex-direction: column;
        align-items: center;
        top: 30px;
        gap: 40px;
    }
}