.navbar img {
    width: 180px;
    transition: 200ms;
}

.navbar img:hover {
    scale: 105%;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 15%;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 16px;
    user-select: none;
}

.nav-menu li {
    cursor: pointer;
    transition: 200ms;
}

.nav-menu li:hover {
    scale: 105%;
    color: #324099;
}